<div class="container">
  <div class="jumbotron">
    <h1>Social Propeller</h1>
    <p>Get ready to manage your social media impact like never before!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Login with instagram</a></p>
  </div>
</div>
